# SPDX-FileCopyrightText: 2023 thecheeseman
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
charset = utf-8
max_line_length = 120
guidelines = 80,100
guidelines_style = 0.5px dotted ff808080

[Makefile]
indent_style = tab
indent_size = 8
