# SPDX-FileCopyrightText: 2023 thecheeseman
#
# SPDX-License-Identifier: CC0-1.0

[submodule "External/expected-lite"]
	path = External/expected-lite
	url = https://github.com/martinmoene/expected-lite
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json
[submodule "External/Catch2"]
	path = External/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "External/nanobench"]
	path = External/nanobench
	url = https://github.com/martinus/nanobench/
