# SPDX-FileCopyrightText: 2023 thecheeseman
#
# SPDX-License-Identifier: CC0-1.0

# Properly detect languages on Github
*.h linguist-language=cpp

# Normalize EOL for all files that Git considers text files
* text=auto eol=lf